<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Departments</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Employees</li> -->
                <div class="col text-right">
                    <button type="button" class="btn btn-sm btn-success" id="new-department-button">New Department</button>
                    <!-- <button type="button" class="btn btn-sm btn-secondary" id="new-position-button">New Position</button> -->
                    <button type="button" class="btn btn-sm btn-danger" id="cancel-button" hidden>Cancel</button>
                    <button type="button" class="btn btn-sm btn-warning" id="return-button" hidden>return</button>
                </div>
                <script>
                    // new button: department form card
                    $("#new-department-button").on("click", e => {
                        e.preventDefault();

                        $("#id-department-form").removeAttr("disabled");
                        $("#departments-card").attr("hidden", true);
                        $("#new-department-button").attr("hidden", true);
                        $("#department-form-card").removeAttr("hidden");
                        $("#cancel-button").removeAttr("hidden");
                        // create button
                        $("#button-submit-form").html(`<button type="submit" class="btn btn-primary" id="submit-new">Submit</button>`)
                    });
                    // cancel button: department form card
                    $("#cancel-button").on("click", e => {
                        e.preventDefault();
                        clearDepartmentForm();
                        hiddenNewPosition();

                        $("#departments-card").removeAttr("hidden");
                        $("#new-department-button").removeAttr("hidden");
                        $("#department-form-card").attr("hidden", true);
                        $("#cancel-button").attr("hidden", true);
                    });
                    // return button: department detail card
                    $("#return-button").on("click", e => {
                        e.preventDefault();
                        
                        $("#department-detail-card").attr("hidden", true);
                        $("#return-button").attr("hidden", true);
                        $("#departments-card").removeAttr("hidden");
                        $("#new-department-button").removeAttr("hidden");
                    });
                </script>
            </ol>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="departments-card" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <!-- <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div> -->
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="departments-table" class="table table-sm table-bordered table-striped" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <% departments.forEach(department => { %>
                                <tr data-id="<%- department['department_id'] %>">
                                    <td><%- department['department_id'] %></td>
                                    <td><%- department['department_name'] %></td>
                                    <td>
                                        <% department['positions_names'].forEach(position => { %>
                                            <small class="badge badge-dark"><%- position %></small>
                                        <% }); %>
                                    </td>
                                    <td class="text-center text-break">
                                        <!-- Detail -->
                                        <a href="#" class="m-1" onclick="showDepartmentDetailCard(`<%- department['department_id'] %>`)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256"><path fill="green" d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24m0 192a88 88 0 1 1 88-88a88.1 88.1 0 0 1-88 88m12-88a12 12 0 1 1-12-12a12 12 0 0 1 12 12m44 0a12 12 0 1 1-12-12a12 12 0 0 1 12 12m-88 0a12 12 0 1 1-12-12a12 12 0 0 1 12 12"/></svg>
                                        </a>
                                        <!-- Edit -->
                                        <a href="#" class="m-1" onclick="editDepartmentsForm(`<%- department['department_id'] %>`)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32"><path fill="orange" d="M25 4.031c-.766 0-1.516.297-2.094.875L13 14.781l-.219.219l-.062.313l-.688 3.5l-.312 1.468l1.469-.312l3.5-.688l.312-.062l.219-.219l9.875-9.906A2.968 2.968 0 0 0 25 4.03zm0 1.938c.234 0 .465.12.688.343c.445.446.445.93 0 1.375L16 17.376l-1.719.344l.344-1.719l9.688-9.688c.222-.222.453-.343.687-.343zM4 8v20h20V14.812l-2 2V26H6V10h9.188l2-2z"/></svg>
                                        </a>
                                        <!-- Delete -->
                                        <a href="#" class="m-1" onclick="deleteDepartment(`<%- department['department_id'] %>`)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="red" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"/></svg>
                                        </a>
                                    </td>
                                </tr>
                            <% }); %>
                            </tbody>                            
                        </table>
                    </div>
                    <script>
                        $(function () {
                            $("#departments-table").DataTable({
                                "responsive": true,
                                "lengthChange": true, // Setel menjadi true untuk menampilkan dropdown "Show entries"
                                "autoWidth": false,
                                "buttons": [
                                  "copy", 
                                  "csv", 
                                  "excel", 
                                  "pdf", 
                                  "print",
                                  // "colvis"
                                ],
                                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]], // Atur opsi panjang halaman yang diinginkan
                                "paging": true,
                                "ordering": true,
                                "info": true,
                            }).buttons().container().appendTo('#departments-table_wrapper .col-md-6:eq(0)');
                        });
                        function showDepartmentDetailCard(id) {
                            clearDepartmentDetail();
                            TopLoaderService.start();
                            $.ajax({
                                url: `/department/${id}`,
                                method: 'GET',
                                contentType: "application/json",
                                success: function(results) {
                                    TopLoaderService.end();
                                    if (results.status !== 200) {
                                        ErrorNotif(Object.values(results.message)[0])
                                        return 0;
                                    }
                                    $("#department-id-column").html(results.results[0]["department_id"]);
                                    $("#department-name-column").html(results.results[0]['department_name']);
                                    const positionsNames = results.results[0]['positions_names'];
                                    let positionsHtml = "";
                                    for (let index = 0; index < positionsNames.length; index++) {
                                        positionsHtml += ` <small class="badge badge-dark">${positionsNames[index]}</small>`;
                                    }
                                    $("#positions-column").html(positionsHtml);
                                    $("#total-employees-column").html(results.results[0]["total_employees"]);

                                    // cards and buttons
                                    $("#department-detail-card").removeAttr("hidden");
                                    $("#return-button").removeAttr("hidden");
                                    $("#departments-card").attr("hidden", true);
                                    $("#new-department-button").attr("hidden", true);
                                },
                                error: function(xhr, status, error) {
                                    TopLoaderService.start();
                                    ErrorNotif(`${status} ${error}`);
                                    console.log(error);
                                }
                            });
                        }

                        function editDepartmentsForm(id) {
                            TopLoaderService.start();
                            $.ajax({
                                url: `/department/${id}`,
                                method: 'GET',
                                contentType: "application/json",
                                success: function(results) {
                                    TopLoaderService.end();
                                    if (results.status !== 200) {
                                        const message = Object.values(results.message);
                                        ErrorNotif(`${message[0]}`)
                                        return 0;
                                    }
                                    $("#button-submit-form").html(`<button type="submit" class="btn btn-primary" id="submit-edit">Save</button>`)
                                    $("#departments-card").attr("hidden", true);
                                    $("#new-department-button").attr("hidden", true);
                                    $("#department-form-card").removeAttr("hidden");
                                    $("#cancel-button").removeAttr("hidden");

                                    const data = results.results[0];
                                    const idDepartmentForm = $("#id-department-form");
                                    idDepartmentForm.val(data.department_id);
                                    idDepartmentForm.attr("disabled", true);
                                    $("#department-name-form").val(data.department_name);
                                    
                                    // Memeriksa dan menetapkan checkbox sesuai dengan respons
                                    const checkboxes = $("#checkbox-container input[type=checkbox]");
                                    checkboxes.each(function(index) {
                                        if (data.position_ids.includes($(this).val())) {
                                            $(this).prop('checked', true);
                                        }
                                    });
                                },
                                error: function(xhr, status, error) {
                                    TopLoaderService.end();
                                    ErrorNotif(`${status} ${error}`);
                                    console.log(error);
                                }
                            });

                        }
                        function deleteDepartment(id) {
                            TopLoaderService.start();
                            Swal.fire({
                                title: "Data is correctly?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes!"
                            }).then(result =>{
                                TopLoaderService.end();
                                if (result.isConfirmed) {
                                    $.ajax({
                                        url: `/department/${id}`,
                                        method: 'DELETE',
                                        contentType: "application/json",
                                        success: function(results) {
                                            if (results.status !== 200) {
                                                ErrorNotif(Object.values(results.message)[0]);
                                                return 0;
                                            }
                                            $(`tr[data-id="${id}"]`).remove();
                                            if ($("#departments-table tbody tr").length === 0) {
                                                $("#departments-table tbody").append(`
                                                    <tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No data available in table</td></tr>
                                                `)
                                            }
                                            OkeNotif(results.message);
                                        },
                                        error: function(xhr, status, error) {
                                            ErrorNotif(`${status} ${error}`);
                                            console.log(error);
                                        }
                                    });
                                }
                            })
                        }
                    </script>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
        </div>
        <div id="department-form-card" class="container-fluid" hidden>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="id-department">Department Code <small style="color: red;">*Required</small></label>
                                    <input type="number" class="form-control" id="id-department-form" name="id-department">
                                </div>
                                <div class="form-group">
                                    <label for="department-name">Name <small style="color: red;">*Required</small></label>
                                    <input type="text" class="form-control" id="department-name-form" name="fullname">
                                </div>
                                <div class="form-group" id="checkbox-position">
                                    <div id="checkbox-container">
                                        <label for="exampleFormControlSelect2">
                                            Select Position
                                            <button type="button" id="new-position-button" class="btn btn-sm btn-dark">+Position</button> 
                                        </label>
                                        <% positions.forEach(position => { %>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" id="position-<%- position['id'] %>" value="<%- position['id'] %>">
                                                <label class="form-check-label" for="position-<%- position['id'] %>"><%- position['name'] %></label>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                                <div id="new-position" hidden>
                                    <div class="form-group">
                                        <label for="newOption">Add New Position</label>
                                        <input type="text" class="form-control" id="new-position-input" placeholder="Enter New Position Name">
                                    </div>
                                    <button type="button" id="submit-new-position" class="btn btn-sm btn-primary">Add</button>
                                    <button type="button" id="cancel-new-position" class="btn btn-sm btn-danger">cancel</button>
                                </div>
                                <script>
                                    const newPositionInput = document.getElementById("new-position-input");
                                    const checkboxContainer = document.getElementById("checkbox-container");
                                    const hiddenCheckboxPosition = () => {
                                        $("#checkbox-position").attr("hidden", true);
                                        $("#new-position").removeAttr("hidden");
                                        $("#button-submit-form").attr("hidden", true);
                                    }
                                    const hiddenNewPosition = () => {
                                        $("#checkbox-position").removeAttr("hidden");
                                        $("#new-position").attr("hidden", true);
                                        $("#button-submit-form").removeAttr("hidden");
                                        $("#new-position-input").val(null)
                                    }

                                    $("#new-position-button").on("click", (e) => {
                                        e.preventDefault();
                                        hiddenCheckboxPosition();
                                    });

                                    $("#cancel-new-position").on("click", (e) => {
                                        e.preventDefault();
                                        hiddenNewPosition();
                                    });
                                    // post new position
                                    $("#submit-new-position").on("click", (e) => {
                                        e.preventDefault();
                                        const value = $("#new-position-input").val();
                                        if (value !== "") {
                                            TopLoaderService.start();
                                            const data = {
                                                name: value
                                            }
                                            $.ajax({
                                                url: '/position/new',
                                                method: 'POST',
                                                contentType: "application/json",
                                                data: JSON.stringify(data),
                                                success: function(results) {
                                                    TopLoaderService.end();
                                                    if (results.status !== 200) {
                                                        ErrorNotif(Object.values(results.message)[0]);
                                                        return 0;
                                                    }
                                                    OkeNotif(results.message);
                                                    let newId = results.id;
                                                    let newCheckbox = `<input class="form-check-input" type="checkbox" id="position-${newId}" value="${newId}"><label class="form-check-label" for="${newId}">${value}</label>`;
                                                    let div = document.createElement("div");
                                                    div.setAttribute("class", "form-check mb-2");
                                                    div.innerHTML = newCheckbox  
                                                    checkboxContainer.append(div);
                                                    newPositionInput.value = null;
                                                    hiddenNewPosition();
                                                },
                                                error: function(xhr, status, error) {
                                                    TopLoaderService.end();
                                                    ErrorNotif(`${status} ${error}`);
                                                    console.log(error);
                                                }
                                            });
                                        } else {
                                            WarningNotif("Please Enter a Value");
                                        }

                                        // fetch("/position/new", {
                                        //     method: "POST",
                                        //     body: JSON.stringify({name: "Hello, World"})
                                        // })
                                        // .then(res => res.json())
                                        // .then(results => {
                                        //     console.log(results);
                                        // })
                                    })
                                </script>
                                <div id="button-submit-form">
                                    <!-- Button Will be creating is here -->
                                </div>
                                <script>
                                    
                                    // post new department
                                    $("#button-submit-form").on("click", (e) => {
                                        e.preventDefault();
                                        let positionSelected = [];
                                        $('#checkbox-container').find('input[type="checkbox"]').each(function(){
                                            if ($(this).is(":checked")) {
                                                positionSelected.push(parseInt($(this).val()));
                                            }
                                        });
                                        const buttonStatus = $("#button-submit-form").text();
                                        Swal.fire({
                                            title: "Data is correctly?",
                                            text: "You won't be able to revert this!",
                                            icon: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: "#3085d6",
                                            cancelButtonColor: "#d33",
                                            confirmButtonText: "Yes!"
                                        }).then(result =>{
                                            if (result.isConfirmed) {
                                                Swal.fire({
                                                    title: "Loading!",
                                                    timer: 3800,
                                                    timeProgressBar: true,
                                                    didOpen: ()=>{
                                                        Swal.showLoading();
                                                    }
                                                });
                                                if (buttonStatus === "Submit") {
                                                    let data = {
                                                        positions: positionSelected,
                                                        id: $("#id-department-form").val(),
                                                        name: $("#department-name-form").val(),
                                                    }
                                                    $.ajax({
                                                        url: '/department/new',
                                                        method: 'POST',
                                                        // dataType: 'json',
                                                        contentType: "application/json",
                                                        data: JSON.stringify(data),
                                                        success: function(results){ 
                                                            if (results.status !== 200) {
                                                                ErrorModal(results.message)
                                                            } else {
                                                                SuccessModal(results.message);
                                                            }
                                                        },
                                                        error: function(xhr, status, error){
                                                            Swal.close();
                                                            ErrorNotif(`${status} ${error}`);
                                                        }
                                                    });
                                                } else if(buttonStatus === "Save") {
                                                    let data = {
                                                        positions: positionSelected,
                                                        id: $("#id-department-form").val(),
                                                        name: $("#department-name-form").val(),
                                                    }
                                                    $.ajax({
                                                        url: `/department/${data.id}`,
                                                        method: 'PUT',
                                                        // dataType: 'json',
                                                        contentType: "application/json",
                                                        data: JSON.stringify(data),
                                                        success: function(results){ 
                                                            if (results.status !== 200) {
                                                                ErrorModal(results.message)
                                                            } else {
                                                                SuccessModal(results.message);
                                                            }
                                                        },
                                                        error: function(xhr, status, error){
                                                            Swal.close();
                                                            ErrorNotif(`${status} ${error}`);
                                                        }
                                                    });
                                                
                                                }
                                            }
                                        })
                                    });
                                </script>
                                </div>                
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <div id="department-detail-card" class="container-fluid" hidden>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header align-items-center">
                            <div><b>Department Information</b></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-bordered" width="100%" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>Department ID/Code</td>
                                    <td id="department-id-column">
                                        <!-- DP Code is Here -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td id="department-name-column">
                                        <!-- DP Name is Here -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Positions</td>
                                    <td id="positions-column">
                                        <!-- Positions is Here -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total Employees</td>
                                    <td id="total-employees-column"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    const clearDepartmentForm = () => {
        $("#id-department-form").val(null)
        $("#department-name-form").val(null);
        const checkboxes = $("#checkbox-container input[type=checkbox]");
        for (let index = 0; index < checkboxes.length; index++) {
            checkboxes[index].checked = false;
        }
        // clear the department form
        $("#button-submit-form").html("");
    }
    function clearDepartmentDetail() {
        $("#department-id-column").html("");
        $("#department-name-column").html("");
        $("#positions-column").html("");
        $("#total-employees-column").html("");
    }
</script>