<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Employees</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Employees</li> -->
                <div class="col text-right">
                    <button type="button" class="btn btn-sm btn-success" id="new-employee-button">New Employee</button>
                    <button type="button" class="btn btn-sm btn-danger" id="cancel-button" hidden>Cancel</button>
                    <button type="button" class="btn btn-sm btn-warning" id="return-button" hidden>return</button>
                </div>
            </ol>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div id="employees-card" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <!-- <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div> -->
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="employees-table" class="table table-sm table-bordered table-striped" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Department</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <% employees.forEach(employee => { %>
                            <tr data-id="<%- employee['id'] %>">
                                <td><%- employee['id'] %></td>
                                <td><%- employee['name'] %></td>
                                <td><%- employee['position_name'] %></td>
                                <td><%- employee['department_name'] %></td>
                                <td class="text-center text-break">
                                    <!-- Detail -->
                                    <a href="javascript:void(0)" class="m-1" onclick="showEmpoyeeDetailCard(`<%- employee['id'] %>`)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="green" d="M15 11h7v2h-7zm1 4h6v2h-6zm-2-8h8v2h-8zM4 19h10v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1zm4-7c1.995 0 3.5-1.505 3.5-3.5S9.995 5 8 5S4.5 6.505 4.5 8.5S6.005 12 8 12"/></svg>
                                    </a>
                                    <!-- Edit -->
                                    <a href="javascript:void(0)" class="m-1" onclick="editEmployee(`<%- employee['id'] %>`)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 32 32"><path fill="orange" d="M25 4.031c-.766 0-1.516.297-2.094.875L13 14.781l-.219.219l-.062.313l-.688 3.5l-.312 1.468l1.469-.312l3.5-.688l.312-.062l.219-.219l9.875-9.906A2.968 2.968 0 0 0 25 4.03zm0 1.938c.234 0 .465.12.688.343c.445.446.445.93 0 1.375L16 17.376l-1.719.344l.344-1.719l9.688-9.688c.222-.222.453-.343.687-.343zM4 8v20h20V14.812l-2 2V26H6V10h9.188l2-2z"/></svg>
                                    </a>
                                    <!-- Delete -->
                                    <a href="javascript:void(0)" class="m-1" onclick="deleteEmployee(`<%- employee['id'] %>`)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="red" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"/></svg>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>                            
                        </table>
                        <script>
                            function showEmpoyeeDetailCard(id) {
                                TopLoaderService.start();
                                    $.ajax({
                                    url: `/employee/${id}`,
                                    method: 'GET',
                                    dataType: 'json',
                                    success: function(results) {
                                        TopLoaderService.end();
                                        if (results.status !== 200) {
                                            SwalToast.fire({
                                                icon: "error",
                                                title: results.message,
                                            });
                                            return 0;
                                        }
                                        $("#employees-card").attr("hidden", true);
                                        $("#employee-detail-card").removeAttr('hidden');
                                        // Unhide new employee button, hide return button
                                        $("#new-employee-button").attr("hidden", true);
                                        $("#return-button").removeAttr('hidden');
                                        $("#employee-id-column").text(results.employee[0]["id_number"]);
                                        $("#id-number-column").text(results.employee[0]["id"]);
                                        $("#name-column").text(PascalCaseWithSpace(results.employee[0]["name"]));
                                        $("#title-column").text(results.employee[0]["title"].toUpperCase());
                                        $("#birth-place-column").text(PascalCaseWithSpace(results.employee[0]["bornplace"]));
                                        $("#birth-date-column").text(dateFormatting(results.employee[0]["birthdate"]));
                                        $("#address-column").text(PascalCaseWithSpace(results.employee[0]["address"]));
                                        $("#idcard-column").attr("file-name", results.employee[0]["id_card"]);
                                        $("#photo-column").attr("file-name", results.employee[0]["photo"]);
                                    },
                                    error: function(xhr, status, error) {
                                        WarningNotif(`${status} ${error}`);
                                        console.log(error);
                                    }
                                })
                            }
                            function editEmployee(id) {
                                TopLoaderService.start();
                                $.ajax({
                                    url: `/employee/${id}`,
                                    method: 'GET',
                                    dataType: 'json',
                                    success: function(results) {
                                        TopLoaderService.end();
                                        if (results.status !== 200) {
                                            SwalToast.fire({
                                                    icon: "error",
                                                    title: results.message,
                                                });
                                            return 0;
                                        }
                                        showEmployeeForm();
                                        const departments = $("#select-department option");
                                        for (let index = 0; index < departments.length; index++) {
                                            if (parseInt(departments[index]["value"]) === results.employee[0]["department_id"]) {
                                                $(`#select-department option[value='${departments[index]["value"]}']`).prop("selected", true);
                                                selectDepartment(); // mengtrigger form position
                                                
                                            }
                                        }
                                        $("#button-submit-form").html('<button type="submit" class="btn btn-primary" id="save-edit">Save</button>');
                                        $("#employee-id-form").attr("disabled", true);
                                        $("#employee-id-form").val(results.employee[0]["id"]);
                                        $("#id-number-form").val(results.employee[0]["id_number"]);
                                        $("#fullname-form").val(results.employee[0]["name"]);
                                        $("#title-form").val(results.employee[0]["title"]);
                                        $("#born-place-form").val(results.employee[0]["bornplace"]);
                                        // Date String formatting
                                        let dateString = results.employee[0]["birthdate"];
                                        let date = new Date(dateString);
                                        let year = date.getFullYear();
                                        let month = ("0" + (date.getMonth() + 1)).slice(-2);
                                        let day = ("0" + date.getDate()).slice(-2);
                                        let formattedDate = year + "-" + month + "-" + day;
                                        $("#birth-date-form").val(formattedDate);
                                        // $("#id-card-photo-form").val(results.employee[0][""]);
                                        // $("#photo-form").val("");
                                        $("#address-form").val(results.employee[0]["address"]);
                                        console.log(results);
                                        $("#select-position").attr("disabled", true);
                                        let interval = setInterval(() => {
                                            let idPosition = results.employee[0]["position_id"];
                                            $(`#select-position option[value='${idPosition}']`).prop("selected", true);
                                            $("#select-position").removeAttr("disabled");
                                            if ($("#select-position").val() !== null) {
                                                clearInterval(interval);
                                            }
                                        }, 1000);
                                    },
                                    error: function(xhr, status, error) {
                                        WarningNotif(`${status} ${error}`);
                                        console.log(error);
                                    }
                                })
                                .done(function(data) {
                                    // Setelah data diterima, jalankan operasi
                                    console.log(data);
                                    $(`#select-position option[value='${data.employee[0]["position_id"]}']`).prop("selected", true);
                                })
                            }
                        </script>
                    </div>
                    <script>
                        $(function () {
                            $("#employees-table").DataTable({
                                "responsive": true,
                                "lengthChange": true, // Setel menjadi true untuk menampilkan dropdown "Show entries"
                                "autoWidth": false,
                                "buttons": [
                                  "copy", 
                                  "csv", 
                                  "excel", 
                                  "pdf", 
                                  "print",
                                  // "colvis"
                                ],
                                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]], // Atur opsi panjang halaman yang diinginkan
                                "paging": true,
                                "ordering": true,
                                "info": true,
                            }).buttons().container().appendTo('#employees-table_wrapper .col-md-6:eq(0)');
                        });
                        function deleteEmployee(id) {
                            Swal.fire({
                                title: "are you sure wanna deleted it?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes!"
                            }).then(results => {
                                if (results.isConfirmed) {
                                    Swal.fire({
                                        title: "Loading!",
                                        timer: 3800,
                                        timeProgressBar: true,
                                        didOpen: ()=>{
                                            Swal.showLoading();
                                        }
                                    });
                                    $.ajax({
                                        url: `/employee/${id}`,
                                        method: 'DELETE',
                                        dataType: 'json',
                                        success: function(results) {
                                            if (results.status !== 200) {
                                                SwalToast.fire({
                                                    icon: "error",
                                                    title: results.message,
                                                });
                                                return 0;
                                            }
                                            setTimeout(() => {
                                                SwalToast.fire({
                                                    icon: "success",
                                                    title: results.message,
                                                });
                                                $(`tr[data-id="${id}"]`).remove();
                                                if ($("#employees-table tbody tr").length === 0) {
                                                    $("#employees-table tbody").append(`
                                                    <tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No data available in table</td></tr>
                                                    `)
                                                }
                                            }, 1000);
                                        },
                                        error: function(xhr, status, error) {
                                            WarningNotif(`${status} ${error}`);
                                            console.log(error);
                                        }
                                    });
                                    return 0;
                                }
                            })
                        }               
                    </script>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
        </div>
        <div id="employee-form-card" class="container-fluid" hidden>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <label for="employee ID">Employee ID<small style="color: red;">*Required</small></label>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">
                                            <input type="number" min="0" class="form-control" id="employee-id-form" name="employee-id-form">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-success" id="button-check-id">Check</button>
                                        <script>
                                            $("#button-check-id").on("click", () => {
                                                $.ajax({
                                                    url: `/employee/${$("#employee-id-form").val()}`,
                                                    method: 'GET',
                                                    contentType: "application/json",
                                                    success: function(results) {
                                                        if (results.status !== 200) {
                                                            console.log(results);
                                                            SwalToast.fire({
                                                    icon: "error",
                                                    title: results.message,
                                                });
                                                            return;
                                                        }
                                                        if (results["employee"].length !== 0) {
                                                            ErrorNotif("ID already exists!");
                                                        } else {
                                                            OkeNotif("ID available!");
                                                        }
                                                    },
                                                    error: function(xhr, status, error) {
                                                        ErrorNotif(`${status} ${error}`);
                                                        console.log(error);
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="id-number">ID Number <small style="color: red;">*Required</small></label>
                                    <input type="number" class="form-control" id="id-number-form" name="id-number">
                                </div>
                                <div class="form-group">
                                    <label for="fullname">Full Name <small style="color: red;">*Required</small></label>
                                    <input type="text" class="form-control" id="fullname-form" name="fullname">
                                </div>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title-form" name="title">
                                </div>
                                <div class="form-group">
                                    <label for="born-place">Born Place</label>
                                    <input type="text" class="form-control" id="born-place-form" name="born-place">
                                </div>
                                <div class="form-group">
                                    <label for="birthdate">Birthdate</label>
                                    <input type="date" class="form-control" id="birth-date-form" name="birthdate">
                                </div>
                                <div class="form-group">
                                    <label for="photo">Photo <small style="color: red;">*Required</small></label>
                                    <input type="file" class="form-control-file" id="photo-form" name="photo">
                                    <div id="photo-upload-loading"></div>
                                    <div id="delete-photo" hidden>
                                        <a href="#"  class="px-1 badge badge-danger" id="button-delete-foto">
                                            <i>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21H7Zm2-4h2V8H9v9Zm4 0h2V8h-2v9Z"/></svg>
                                            </i>
                                        </a>
                                        <span id="photo-filename"></span>
                                    </div>
                                    <script>
                                        const photoSpinner = new Spinner("#photo-upload-loading");
                                        let photoFilename = "";
                                        $("#photo-form").on("change", function(e) {
                                            e.preventDefault();
                                            let photo = this.files[0];
                                            const renamedPhoto = renameFile(photo, `photo_${$("#fullname-form").val()}_${new Date().getTime()}`);
                                            photoFilename = renamedPhoto["name"];

                                            // Mengakses file yang diunggah
                                            checkFileType(renamedPhoto, ["image/jpeg", "image/jpg", "image/png"], "format file tidak didukung! (JPEG/JPG/PNG)", this, function() {
                                                photoSpinner.show();
                                                $("#photo-form").attr("hidden", true);
                                                UploadFile(renamedPhoto, "image", "/upload/image", function () { 
                                                    $("#delete-photo").removeAttr("hidden");
                                                    $("#photo-filename").append(renamedPhoto["name"]);
                                                    photoSpinner.destroy();
                                                 });
                                            });
                                        });
                                        $("#delete-photo").on("click", e =>{
                                            e.preventDefault();
                                            photoSpinner.show();
                                            $("#delete-photo").attr("hidden", true);
                                            $("#photo-filename").html("");
                                            deleteImage(photoFilename, function() {
                                                photoSpinner.destroy();
                                                $("#photo-form").val(null);
                                                $("#photo-form").removeAttr("hidden");
                                                photoFilename = ""
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="form-group">
                                    <label for="id-card-photo">ID Card Photo <small style="color: red;">*Required</small></label>
                                    <input type="file" class="form-control-file" id="id-card-photo-form" name="id-card-photo">
                                    <div id="idcard-upload-loading"></div>
                                    <div id="delete-idcard" hidden>
                                        <a href="#" class="px-1 badge badge-danger">
                                            <i>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21H7Zm2-4h2V8H9v9Zm4 0h2V8h-2v9Z"/></svg>
                                            </i>
                                        </a>
                                        <span id="idcard-filename"></span>
                                    </div>
                                </div>
                                <script>
                                    const idcardSpinner = new Spinner("#idcard-upload-loading");
                                    let idcardFilename = "";
                                    $("#id-card-photo-form").on("change", function(e) {
                                        e.preventDefault();
                                        let photo = this.files[0];
                                        const renamedPhoto = renameFile(photo, `idcard_${$("#fullname-form").val()}_${new Date().getTime()}`);
                                        idcardFilename = renamedPhoto["name"];

                                        // Mengakses file yang diunggah
                                        checkFileType(renamedPhoto, ["image/jpeg", "image/jpg", "image/png"], "format file tidak didukung! (JPEG/JPG/PNG)", this, function() {
                                            idcardSpinner.show();
                                            $("#id-card-photo-form").attr("hidden", true);
                                            UploadFile(renamedPhoto, "image", "/upload/image", function () { 
                                                $("#delete-idcard").removeAttr("hidden");
                                                $("#idcard-filename").append(renamedPhoto["name"]);
                                                    idcardSpinner.destroy();
                                                });
                                        });
                                    });
                                    $("#delete-idcard").on("click", e =>{
                                        e.preventDefault();
                                        idcardSpinner.show();
                                        $("#delete-idcard").attr("hidden", true);
                                        $("#idcard-filename").html("");
                                        deleteImage(idcardFilename, function() {
                                            idcardSpinner.destroy();
                                            $("#id-card-photo-form").val(null);
                                            $("#id-card-photo-form").removeAttr("hidden");
                                            idcardFilename = ""
                                        })
                                    });
                                </script>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <textarea class="form-control" id="address-form" name="address" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="department">Department</label>
                                    <select id="select-department" class="form-control" style="width: 100%;" onchange="selectDepartment()">
                                        <option selected="selected" disabled>Select Department</option>
                                        <% departments.forEach(department => { %>
                                            <option value="<%- department['id'] %>"><%- department['name'] %></option>
                                        <% }); %>
                                    </select>                    
                                    <script>
                                        function selectDepartment(){
                                            $("#select-position option").each(function(index, option) {
                                                // Mulai menghapus elemen ke-2 (indeks 1) hingga elemen terakhir dalam loop.
                                                if (index > 0) {
                                                    $(option).remove();
                                                }
                                            });
                                            $("#select-position").prop("selectedIndex", 0);
                                            $.ajax({
                                                url: `/employee/positions/department/${$("#select-department option:selected").val()}`,
                                                method: 'GET',
                                                contentType: "application/json",
                                                success: function(results) {
                                                    if (results.status !== 200) {
                                                        SwalToast.fire({
                                                    icon: "error",
                                                    title: results.message,
                                                });
                                                        return 0;
                                                    }
                                                    for (let index = 0; index < results.positions[0]["position_ids"].length; index++) {
                                                        const option = document.createElement("option");
                                                        option.value = results.positions[0]["position_ids"][index];
                                                        option.textContent = results.positions[0]["positions_names"][index];
                                                        $("#select-position").append(option);
                                                    }
                                                },
                                                error: function(xhr, status, error) {
                                                    ErrorNotif(`${status} ${error}`);
                                                    console.log(error);
                                                }
                                            });
                                        }
                                        // Upload File dengan AJAX
                                        function UploadFile(file, dataname, path, callback) {
                                            const formData = new FormData();
                                            formData.append(dataname, file);
                                            formData.append("filename", file.name);

                                            $.ajax({
                                                url: path,
                                                type: 'POST',
                                                data: formData,
                                                contentType: false,
                                                processData: false,
                                                success: function(response) {
                                                    if (response.status !== 200) {
                                                        ErrorNotif(response.message);
                                                        return 0;
                                                    }
                                                    OkeNotif("Upload Success");
                                                    callback();
                                                },
                                                error: function(xhr, status, error) {
                                                    // Tangani kesalahan jika pengunggahan gagal
                                                    Swal.fire("Error", error, "error");
                                                    console.error("Error:", error);
                                                }
                                            });
                                        }
                                        function deleteImage(filename, callback) {
                                            $.ajax({
                                                url: `/delete/image/${filename}`, // URL endpoint
                                                type: 'GET', // Metode HTTP GET
                                                success: function(response) {
                                                    if (response.status !== 200) {
                                                        ErrorNotif(response.message);
                                                        return 0;
                                                    }
                                                    OkeNotif("Image Deleted");
                                                    callback();
                                                },
                                                error: function(xhr, status, error) {
                                                    // Tangani kesalahan jika pengunggahan gagal
                                                    Swal.fire("Error", error, "error");
                                                    console.error("Error:", error);
                                                }
                                            });
                                        }

                                    </script>
                                </div>
                                <div class="form-group">
                                    <label for="position">Position</label>
                                    <select class="form-control" style="width: 100%;" id="select-position">
                                        <option selected="selected" disabled>Select Position</option>
                                    </select>                    
                                </div>
                                <div id="button-submit-form">
                                    <!-- Button Will be creating is here -->
                                </div>
                                <script>
                                    $("#button-submit-form").on("click", e => {
                                        e.preventDefault();

                                        const buttonStatus = $("#button-submit-form").text();
                                        if (buttonStatus === "Submit") {
                                            Swal.fire({
                                                title: "are you sure wanna data correctly?",
                                                // text: "You won't be able to revert this!",
                                                icon: "warning",
                                                showCancelButton: true,
                                                confirmButtonColor: "#3085d6",
                                                cancelButtonColor: "#d33",
                                                confirmButtonText: "Yes!"
                                            }).then(results => {
                                                TopLoaderService.start();
                                                if (results.isConfirmed) {
                                                    $.ajax({
                                                        url: '/employee/id/new',
                                                        method: 'POST',
                                                        contentType: "application/json",
                                                        data: JSON.stringify({
                                                            id_number: parseInt( $("#id-number-form").val()),
                                                            employee_id: parseInt($("#employee-id-form").val()),
                                                            name: $("#fullname-form").val(),
                                                            title: $("#title-form").val(),
                                                            bornplace: $("#born-place-form").val(),
                                                            birthdate: $("#birth-date-form").val(),
                                                            id_card: idcardFilename,
                                                            photo: photoFilename,
                                                            address: $("#address-form").val(),
                                                            department_id: parseInt($("#select-department").val()),
                                                            position_id: parseInt($("#select-position").val()),
                                                        }),
                                                        success: function(results) {
                                                            console.log(results);
                                                            TopLoaderService.end();
                                                            if (results.status !== 200) {
                                                                SwalToast.fire({
                                                    icon: "error",
                                                    title: results.message,
                                                });
                                                                return 0;
                                                            }
                                                            Swal.fire({
                                                                title: results.message,
                                                                icon: "success",
                                                                showCancelButton: false,
                                                                confirmButtonColor: "#3085d6",
                                                                confirmButtonText: "OK"
                                                            }).then((result) => {
                                                                if (result.isConfirmed) {
                                                                    location.reload(); // Reload halaman jika tombol OK diklik
                                                                }
                                                                location.reload(); // Reload halaman jika tombol OK diklik
                                                            });

                                                        },
                                                        error: function(xhr, status, error) {
                                                            ErrorNotif(`${status} ${error}`);
                                                            console.log(error);
                                                            TopLoaderService.end();
                                                        }
                                                    });
                                                }
                                                TopLoaderService.end();
                                            });
                                        } else if (buttonStatus === "Save") {
                                            alert(buttonStatus);
                                        }
                                    })
                                    
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="employee-detail-card" class="container-fluid" hidden>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header align-items-center">
                            <div><b>Employee Information</b></div>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-bordered" width="100%" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>Employee ID</td>
                                    <td id="employee-id-column"></td>
                                </tr>
                                <tr>
                                    <td>ID Number</td>
                                    <td id="id-number-column"></td>
                                </tr>
                                <tr>
                                    <td>Name</td>
                                    <td id="name-column"></td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td id="title-column"></td>
                                </tr>
                                <tr>
                                    <td>Place/Date of Birth</td>
                                    <td><span id="birth-place-column"></span>, <span id="birth-date-column"></span></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td id="address-column"></td>
                                </tr>
                                <tr>
                                    <td>Photo</td>
                                    <td><a id="photo-column" href="#">view</a></td>
                                    <script>
                                        $("#photo-column").on("click", e => {
                                            e.preventDefault();
                                            ShowImage(`/image/photo/${$("#photo-column").attr("file-name")}`);
                                        })
                                    </script>
                                </tr>
                                <tr>
                                    <td>ID Card Photo</td>
                                    <td><a id="idcard-column" href="#">view</a></td>
                                    <script>
                                        $("#idcard-column").on("click", e => {
                                            e.preventDefault();
                                            ShowImage(`/image/idcard/${$("#idcard-column").attr("file-name")}`);
                                        })
                                    </script>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function showEmployeeForm() {
         // Unhide employee form, hide employees card
        $("#employees-card").attr("hidden", true);
        $("#employee-form-card").removeAttr("hidden");
        // Hide new employee button, unhide cancel button
        $("#new-employee-button").attr("hidden", true);
        $("#cancel-button").removeAttr("hidden");
        // Clear the forms
        $("#id-number-form").val("");
        $("#employee-id-form").removeAttr("disabled")
        $("#employee-id-form").val("");
        $("#fullname-form").val("");
        $("#title-form").val("");
        $("#born-place-form").val("");
        $("#birth-date-form").val(null);
        $("#id-card-photo-form").val("");
        $("#photo-form").val("");
        $("#address-form").val("");
        $('#select-department option').eq(0).prop('selected', true);
        $("#select-position option").eq(0).prop('selected', true);
        $("#select-position").removeAttr("disabled");
    }
    $(document).ready(function() {
        // Events for buttons
        $("#new-employee-button").click(function(e) {
            e.preventDefault();
            showEmployeeForm();
            $.ajax({
                url: `/employee/id/last`,
                method: 'GET',
                contentType: "application/json",
                success: function(results) {
                    if (results.status !== 200) {
                        SwalToast.fire({
                                                    icon: "error",
                                                    title: results.message,
                                                });
                        return 0;
                    }
                    $("#employee-id-form").val(results["last_id"] + 1);
                },
                error: function(xhr, status, error) {
                    ErrorNotif(`${status} ${error}`);
                    console.log(error);
                }
            });
            // Create Button
            $("#button-submit-form").html('<button type="submit" class="btn btn-primary" id="submit-new">Submit</button>');
        });

        $("#cancel-button").click(function(e) {
            e.preventDefault();
            // Clearing Form
            if ($("#id-number-form").val() !== "") {
                Swal.fire({
                    title: "are you sure wanna cancel it?",
                    // text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes!"
                }).then(results => {
                    if (results.isConfirmed) {
                        $("#employees-card").removeAttr("hidden");
                        $("#employee-form-card").attr("hidden", true);
                        // Unhide new employee button, hide cancel button
                        $("#new-employee-button").removeAttr("hidden");
                        $("#cancel-button").attr("hidden", true);
                    }
                });
            } else {
                TopLoaderService.end();
                $("#employees-card").removeAttr("hidden");
                $("#employee-form-card").attr("hidden", true);
                // Unhide new employee button, hide cancel button
                $("#new-employee-button").removeAttr("hidden");
                $("#cancel-button").attr("hidden", true);
            }
        });

        $("#return-button").click(function(e) {
            e.preventDefault();
            $("#employees-card").removeAttr("hidden");
            $("#employee-detail-card").attr('hidden', true);
            // Unhide new employee button, hide return button
            $("#new-employee-button").removeAttr("hidden");
            $("#return-button").attr("hidden", true);
            // Clear detail card
            $("#employee-id-column").text("");
            $("#id-number-column").text("");
            $("#name-column").text("");
            $("#title-column").text("");
            $("#birth-place-column").text("");
            $("#birth-date-column").text("");
            $("#address-column").text("");
            $("#idcard-column").removeAttr("file-name");
            $("#photo-column").removeAttr("file-name");
        });
    });
    // Event saat halaman ditutup atau direload
    // $(window).on('beforeunload', function(e) {
    //     var photo = $('#photo-form')[0].files[0];
    //     var idcard = $('#id-card-photo-form')[0].files[0];

    //     if (photo !== "" || idcard !== "") {
    //         if (photo !== "") {
    //             deleteImage(photoFilename, function() {
    //                 $("#delete-photo").attr("hidden", true);
    //                 $("#photo-filename").html("");
    //                 $("#photo-form").val(null);
    //                 $("#photo-form").removeAttr("hidden");
    //             });
    //         }
    //         if (idcard !== "") {
    //             deleteImage(idcardFilename, function() {
    //                 $("#delete-idcard").attr("hidden", true);
    //                 $("#idcard-filename").html("");
    //                 $("#id-card-photo-form").val(null);
    //                 $("#id-card-photo-form").removeAttr("hidden");
    //             });
    //         }
    //     }
    // });
</script>
